body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#container{
    width:960px;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    border: 5px solid black;
}

.panel{
    background-color: greenyellow;
    flex-grow: 1;
    border: 1px solid black;
}

#buttons, #grid{
    margin:10px;

}